{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="row">
        <div class="col-5 mt-5">
            <h1>New Thread</h1>
        </div>
        <div class="col-10 mt-3">
            <p>
                The main rule of The Photographers Forum is to be polite.
                Remain respectful of other members at all times. You have every right to disagree with your fellow community members and explain your perspective.
                However, you are not free to attack, degrade, insult, or otherwise belittle them or this community.
            </p>
            <p>
                Do not post “offensive” posts, links, or images. Any material which constitutes defamation, harassment, or abuse is strictly prohibited. Material that is sexually or otherwise obscene, racist, or otherwise overly discriminatory is not permitted on these forums.
            </p>
            <p>
                We reserve the right to modify or remove forum topics or posts at any time. Failure to adheare to the rules will put you at risk of being banned.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-10 mt-3">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Create Thread</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}