body {
	background: #fafafa;
	color: #333333;
	margin-top: 5rem;
	font-family: Verdana, Geneva, Sans-Serif;
}

.color-grey {
	color: #505050;
}

.btn-custom {
	background-color: #d3d3d3;
	border-color: #d3d3d3;
}

.btn-custom:hover {
	background-color: #000000;
	color: #ffffff;
	border-color: #000000;
}

.image-fullsize {
	max-height: 100%;
	max-width: 100%;
}

.tooltip-ps {
	position: relative;
	display: inline-block;
  }
  
  .tooltip-ps .tooltiptext-ps {
	visibility: hidden;
	width: 200px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -100px;
  }
  
  .tooltip-ps:hover .tooltiptext-ps {
	visibility: visible;
  }

  .carousel {
	margin-bottom: 0rem;
}

.carousel-caption {
	bottom: 3rem;
	z-index: 10;
	background: rgba(26, 26, 26, 0.65);
}
  
.carousel-item {
	height: 45rem;
}

.carousel-item > img {
	position: absolute;
	top: 0;
	left: 0;

	min-width: 100%;
	height: 100%;
}

h1,
h2,
h4,
h5,
h6 {
	color: #444444;
	font-family: Verdana, Geneva, Sans-Serif;
}

h5 {
	color: #ff0044;
	font-family: Verdana, Geneva, Sans-Serif;
}

h3 {
	color:#ffffff;
	font-family: Verdana, Geneva, Sans-Serif;
}

ul {
	margin: 0;
}

.site-header .navbar-nav .nav-link {
	color: #cbd5db;
	border-bottom: #ff0044;
	border-bottom-width: 1px;
}

.site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
	font-family: Verdana, Geneva, Sans-Serif;
}

.article-title {
	color: #000000;
	text-decoration: none;
	font-family: Verdana, Geneva, Sans-Serif;
}

a.article-title:hover {
	color: #000000;
}

.article-content {
	white-space: pre-line;
}

.article-img {
	height: 65px;
	width: 65px;
	margin-right: 10px;
}

.navbar-img {
	height: 32px;
	width: 32px;
}

.article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
	color: #333;
	text-decoration: none;
}

.article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.account-forum-img {
	height: 65px;
	width: 65px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.account-heading {
	font-size: 2.5rem;
}

.username-title {
	color: #ff0044;
	text-decoration: none;
	font-family: Verdana, Geneva, Sans-Serif;
	margin-right: 2px;
}

* { box-sizing: border-box; }
html { overflow-y: scroll; }

.grid {
    background: #fafafa;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,

.grid-item {
  width: 30%;
}

.grid-item {
  float: left;
  margin-bottom: 8px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}