{% extends "blog/base.html" %}
{% block content %}
    <h1>About</h1>
        <body>
            <article class="content-section">
                <p>
                    Photography Social is a community space designed for photographers from hobbyists to professionals. Here you can connect with other photography enthusiasts to discuss equipment, ask for helpful tips, share your photos, and read and write articles.
                </p>
                <p>
                    Head over to the <a href="{% url 'gallery' %}">Gallery</a> to browse galleries that other photographers have created. Here you can also upload photos to create galleries of your own.
                </p>
                <p>
                    Whether you have a quick question or want to start an in-depth discussion, the <a href="{% url 'discussion' %}">Community Forums</a> are the place for you.
                </p>
                <p>
                    Interesting new <a href="{% url 'blog-articles' %}">Articles</a> are published regularly. If you'd like to submit your own article, you must first <a href="{% url 'login' %}">Login</a> before you can begin to write your article. If you haven't created an account yet, visit our <a href="{% url 'register' %}">Registration</a> page to get started.
                </p>
                <p>
                    We hope that you enjoy your time here at Photography Social and that our community will help to grow your passion in this field!
                </p>
            </article>
            <div class="row mb-4">
                <div class="col-sm-6">
                    <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">
                            <img class="rounded-circle account-img" src="/media/default.png">
                            Kaylee Bennett
                        </h2>
                        <p class="card-text">Kaylee is a photography enthusiast who was the main inspiration behind this website. Her love of photography gave her the idea of creating a photo blog for like-minded people for her senior capstone project at Western Oregon University.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">
                            <img class="rounded-circle account-img" src="/media/michael.jpeg">
                            Michael Berryman
                        </h2>
                        <p class="card-text">Michael is a senior at Western Oregon University who has worked with Kaylee to develop this site. When he is not busy working on his computer he enjoys playing sports, hiking, and spending time with friends and family.</p>
                    </div>
                    </div>
                </div>
            </div>
            <article class="content-section">
                <br><h4><b>Features we have to offer</b></h4>
                <hr>
                <h4><b>Articles</b></h4>
                <p>On the articles page, you will find articles written by members of the community that are related to photography. Learn from other members of the photography community.</p>
                <img class="image-fullsize" src="/media/AS.png" alt="articles sample">

                <p>As a member of the community, you will be able to write article posts. Share your thoughts, tips and tricks, advice related to photography, etc.</p>
                <img class="image-fullsize" src="/media/WAS.png" alt="write article sample">

                <p>Members can also show their appreciate for other members articles by giving Likes and writing comments.</p>
                <img class="image-fullsize" src="/media/ALCS.png" alt="article likes and comments sample"><hr>

                <br><h4><b>Photo Gallery</b></h4>
                <p>Of course, it wouldn't be a photography site without photos. View the photo gallery and check out what photos members have shared.</p>
                <img class="image-fullsize" src="/media/PGS.png" alt="photo gallery sample"><hr>

                <p>Submiting photos is limited to members of the site. When submitting a photo, you can select from our categories, specify camera details, tell where you took the photo, and describe your photo.</p>
                <img class="image-fullsize" src="/media/SPS.png" alt="submit photo sample"><hr>

                <h4><b>Community Forum</b></h4>
                <p>Visit the community forums to chat with others about photography or just read what others have to say. There are numerous forum topics to discuss in. Check in once in a while to see if a new discussion topic appears.</p>
                <img class="image-fullsize" src="/media/FTS.png" alt="forum topics sample">

                <p>Forum threads are started by members of the community. To create a forum thread you must be a member. If you do not have an account, no worries, you are also able to view and read what everyone writes.</p>
                <img class="image-fullsize" src="/media/FTHS.png" alt="forum threads sample">

                <p>Members can comment on member threads. Viewers without an account are welcome to view these threads as well.</p>
                <img class="image-fullsize" src="/media/FTVS.png" alt="forum thread view sample"><hr>
            </article>
        </body>
{% endblock content %}