{% extends "blog/base.html" %}
{% block content %}
  <form class="d-flex" action="{% url 'search-results' %}" method="GET">
    <input class="form-control mb-4 me-2" name="post-search" type="text" placeholder="Search...">
    <button class="btn btn-dark active btn-block mb-4"><i class="bi bi-search"></i></button>
  </form>
    {% for post in posts %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <div class="article-metadata">
              <p>By <a href="{% url 'show-profile' pk=post.author.pk %}" class="username-title">{{ post.author }}</a>
              <small class="text-muted">| {{ post.date_posted|date:"F d, Y" }}</small></p>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </div>
      </article>
        {% empty %}
          <p>No articles found</p>
      {% endfor %}
  {% endblock content %}

