{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Write Your Post</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-info" type="submit">Submit for Review</button>
                </div>
            </form>
        </div>
        <script>
            var name = "{{user.id}}";
            document.getElementById("uid").value=name;
        </script>
    {% else %}
        <h3>You are not logged in</h3>
    {% endif %}
{% endblock content %}