{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="content-section">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Upload Image</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-dark" type="submit">Submit for Review</button>
                </div>
            </form>
        </div>
        <script>
            var name = "{{user.id}}";
            document.getElementById("uid").value=name;
        </script>
    {% else %}
        <h3>You must be logged in to submit a photo</h3>
    {% endif %}
{% endblock content %}