{% extends "blog/base.html" %}
{% block content %}
  <div class="container m-3">
        <div class="row">
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header">
                        <b>Categories</b>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for photocategory in photocategories %}
                            <li class="list-group-item">
                                <a href="{% url 'gallery' %}?photocategory={{photocategory.name}}" class="article-title">
                                    {{photocategory.name}}</a></li>
                        {% endfor %}
                        <li class="list-group-item"><a href="{% url 'gallery' %}" class=article-title>All Photos</a></li>
                        <a href="{% url 'add' %}" class="btn btn-dark active btn-block m-1">Submit a Photo</a>
                    </ul>
                </div>
                <br/>
                <div><br>
                    <div class="card-header">
                        <b>Top Tags</b>
                    </div>
                        <br>{% for tag in toptags %}
                                    <a href="{% url 'photos-by-tag' tag.slug %}" class="btn btn-sm btn-outline-dark">
                                        {{ tag }}
                                    </a>
                            {% endfor %}
                </div>
            </div>
            <div class="col-md-10">
                {% for photo in photos %}
                            {% if forloop.last %}
                            {% if photoset != "allphotos" %}
                                <h4><b>{{photo.photocategory.name}}</b></h4>
                                <h6>{{photo.photocategory.description}}</h6>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                <div class="row" data-masonry='{"percentPosition": true }'>
                    {% for photo in photos %}
                        <div class="col-md-4">
                            <div class="card my-2">
                                <a href="{% url 'viewphoto' photo.id %}"><img class="image-thumbnail" src="{{photo.image.url}}"><br></a>
                            </div>
                        </div>
                    {% empty %}
                        <h4><b>{{photocategory}}</b></h4>
                        {% for description in descriptions %}
                        <h6>{{description.description}}</h6>
                        {% endfor %}
                        <h3>No Photos...</h3>
                    {% endfor %}
                </div>
            </div>
      </div>
  </div>
{% endblock content %}