{% extends "blog/base.html" %}
{% block content %}
  <div class="container m-3">
        <div class="row">
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header">
                        <b>Categories</b>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for photocategory in photocategories %}
                            <li class="list-group-item">
                                <a href="{% url 'gallery' %}?photocategory={{photocategory.name}}" class="article-title">
                                    <small>{{photocategory.name}}</small></a></li>
                        {% endfor %}
                        <li class="list-group-item"><a href="{% url 'gallery' %}" class=article-title><small>All Photos</small></a></li>
                        <a href="{% url 'add' %}" class="btn btn-dark active btn-block m-1">Submit a Photo</a>
                    </ul>
                </div>
                <br>
                <div><br>
                    <div class="card-header">
                        <b>Top Tags</b>
                    </div>
                        <br>{% for tag in toptags %}
                                    <a mb-1 href="{% url 'photos-by-tag' tag.slug %}" class="btn btn-sm btn-outline-dark">
                                        {{ tag }}
                                    </a>
                            {% endfor %}
                </div>
            </div>
            <div class="col-md-10" id="picture-list">
                {% for photo in photos %}
                        {% if forloop.last %}
                        {% if photoset != "allphotos" %}
                            <h4><b>{{photo.photocategory.name}}</b></h4>
                            <h6>{{photo.photocategory.description}}</h6>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="grid">
                    <div class="grid-sizer"></div>
                        {% for photo in photos %}
                            <div class="grid-item">
                                <a href="{% url 'viewphoto' photo.id %}"><img src="{{photo.image.url}}"></a>
                            </div>
                    {% empty %}
                        <h4><b>{{photocategory}}</b></h4>
                        {% for description in descriptions %}
                            <h6>{{description.description}}</h6>
                        {% endfor %}
                        <h5>No Photos...</h5>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script>
            var grid = document.querySelector('.grid');
            var msnry = new Masonry( grid, {
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true,
            gutter: 8
            });
            
            imagesLoaded( grid ).on( 'progress', function() {
            msnry.layout();
            });
        </script>
    </div>
{% endblock content %}