{% extends "blog/base.html" %}
{% block content %}
  <h1>Gallery</h1>
  <div class="container m-3">
        <div class="row">
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header">
                        <b>Categories</b>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for photocategory in photocategories %}
                            <li class="list-group-item">
                                <a href="{% url 'gallery' %}?photocategory={{photocategory.name}}" class="article-title">
                                    {{photocategory.name}}</a></li>
                        {% endfor %}
                        <li class="list-group-item"><a href="{% url 'gallery' %}" class=article-title>All Photos</a></li>
                        <a href="{% url 'add' %}" class="btn btn-dark active btn-block m-1">Submit a Photo</a>
                    </ul>
                </div>
                <br/>
                <div class="card">
                    <div class="card-header">
                        <b>Tags</b>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for tag in tags %}
                            <li class="list-group-item">
                                <a href="{% url 'photos-by-tag' tag.slug %}" class="article-title">
                                    {{ tag.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    {% for photo in photos %}
                        <div class="col-md-4">
                            <div class="card my-2">
                                <a href="{% url 'viewphoto' photo.id %}"><img class="image-thumbnail" src="{{photo.image.url}}"><br></a>
                                <!--<div class="card-body">
                                    <small>Photographer: <a class="mr-2" href="{% url 'membergallery' photo.photographer.id %}">{{ photo.photographer }}</a></small>
                                    <small>Photographer: {{ photo.photographer }}<br></small>
                                    <small>Category: {{photo.photocategory.name}}</small>     
                                </div>-->
                            </div>
                        </div>
                    {% empty %}
                        <h3>No Photos...</h3>
                    {% endfor %}
                </div>
            </div>
      </div>
  </div>
{% endblock content %}