{% extends "blog/base.html" %}
{% block content %}
    {% for photo in photos|slice:":1" %}
        <h2> {{photo.photographer}}'s Photos </h3>
    {% endfor %}
    <div class="col-md-10" id="picture-list">
        <div class="grid">
            <div class="grid-sizer"></div>
            {% for photo in photos %}
                <div class="grid-item">
                    <a href="{% url 'viewphoto' photo.id %}"><img src="{{photo.image.url}}"></a>
                </div>
                {% empty %}
                    <h4><b>{{photocategory}}</b></h4>
                {% for description in descriptions %}
                    <h6>{{description.description}}</h6>
                {% endfor %}
                <h6>No Photos...</h6>
            {% endfor %}
        </div>
    </div>
    <script>
        var grid = document.querySelector('.grid');
        var msnry = new Masonry( grid, {
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        percentPosition: true,
        gutter: 8
        });
        
        imagesLoaded( grid ).on( 'progress', function() {
        msnry.layout();
        });
    </script>
{% endblock content %}