{% extends "blog/base.html" %}
{% block content %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <a href="{% url 'gallery' %}" class="btn btn-sm btn-dark my-3">Return</a>
                    <div>
                        <img class="rounded-circle article-img" src="{{ photo.photographer.profile.image.url }}"><a href="{% url 'show-profile' pk=photo.photographer.pk %}" class="username-title"> {{ photo.photographer }}</a><br><br>
                        {% if photo.photographer == user %}
                            <a class="btn btn-warning btn-sm mt-1 mb-1" href= "{% url 'photo-update' photo.id %}"><i class="bi bi-pencil"></i> Update</a> <a class="btn btn-danger btn-sm mt-1 mb-1"  href= "#"><i class="bi bi-trash3"></i> Delete</a><br>
                        {% endif %}
                        <img class="image-fullsize" src="{{photo.image.url}}"><br>
                        <small>Featured in <a href="{% url 'gallery' %}?photocategory={{photo.photocategory.name}}">{{ photo.photocategory.name }}</a><br></small>
                        <small><i class="bi bi-calendar"></i> Published on {{ photo.publishdate|date:"F d, Y"  }}<br></small>
                        <small><i class="bi bi-geo-alt-fill"></i> Location {{ photo.location }}<br></small>
                        <small><i class="bi bi-camera-fill"> </i> <div class="tooltip-ps"> {{ photo.camera }}
                            <span class = "tooltiptext-ps"><small> Camera {{ photo.camera }}<br> Lens {{ photo.focal }} {{ photo.aperture }}<br> Settings {{ photo.shutter }} ISO {{ photo.iso }}</small></span>
                        </div>
                        </small><br>
                        <small><i class="bi bi-pen-fill"></i> {{ photo.description }}<br></small><br>
                        
                        <small><i class="bi bi-tags"></i> Tags </small>
                        {% for tag in photo.tags.all %}
                            <a href="{% url 'photos-by-tag' tag.slug %}" class="btn btn-sm btn-custom py-0 my-0">{{ tag }}</a>
                        {% empty %}
                            <small>none</small>
                        {% endfor %}
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}